/* styles.css */

body, .stApp {
    background-color: #c4c4c4 !important; /* Your desired background color */
}

/* Ensure the text color is visible against the background */
body {
    color: #fdfdfd; /* Change text color to white for contrast */
}

/* Optional: Modify header colors */
h1, h2, h3 {
    color: #030000; /* Custom color for headers */
}

/* Style metrics */
.stMetric {
    background-color: #ffffff; /* Light blue background for metrics */
    border: 2px solid #000000; /* Blue border for metrics */
}

/* Style dataframes */
.stDataFrame {
    border: 2px solid #000000; /* Blue border for dataframes */
}

