asttokens==2.4.1
click==8.1.7
cloup==3.0.5
colorama==0.4.6
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.15.4
glcontext==2.5.0
ipykernel==6.29.4
ipython==8.24.0
isosurfaces==0.1.2
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
manim==0.18.1
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.10.0
moderngl-window==2.4.6
multipledispatch==1.0.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
packaging==24.0
parso==0.8.4
pillow==10.3.0
platformdirs==4.2.2
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pycairo==1.26.1
pydub==0.25.1
pyglet==2.0.15
Pygments==2.18.0
pyrr==0.10.3
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyzmq==26.0.3
rich==13.7.1
scipy==1.14.0
screeninfo==0.8.1
six==1.16.0
skia-pathops==0.8.0.post1
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.6
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
uv==0.3.0
virtualenv==20.26.3
watchdog==4.0.1
wcwidth==0.2.13
